.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        margin-left: 1rem;
        color: var(--highlight-color);
        font-weight: 600;
        font-size: 3rem;
    }
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1.2rem;
        cursor: pointer;
        flex-direction: column;

        a {
            color: var(--secondary-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 400;


            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--highlight-color);
            }
        }
    }
}