@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: "Montserrat", sans-serif;

  --bg-color: #4C4C4C;
  --secondary-bg-color: #636363;

  --dark-shadow: #222222
  
  --primary-color: #DBDBDB;
  --secondary-color: #D1D1D1;
  --highlight-color: #57b6f5;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}